In [20]:
import pandas as pd
from __future__ import division

In [2]:
df = pd.read_csv('titanic.csv')

In [31]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [10]:
answer = str(df.Sex.value_counts()['male'])+ ' ' + str(df.Sex.value_counts()['female'])

In [11]:
answer

'577 314'

In [12]:
with open('answer1.txt', 'w') as fout:
    fout.write(answer)

In [28]:
answer = str(round(100*df[df.Survived==1].Survived.sum()/(df.Survived.count()),2))

In [29]:
with open('answer2.txt', 'w') as fout:
    fout.write(answer)

In [32]:
answer = str(round(100*df[df.Pclass==1].Pclass.sum()/(df.Pclass.count()),2))

In [33]:
answer

'24.24'

In [34]:
with open('answer3.txt', 'w') as fout:
    fout.write(answer)

In [38]:
round(df.Age.mean(),2)

29.7

In [37]:
df.Age.median()

28.0

In [39]:
answer3 = str(round(df.Age.mean(),2)) + ' ' + str(df.Age.median())

In [40]:
with open('answer4.txt', 'w') as fout:
    fout.write(answer3)

In [43]:
df[['SibSp','Parch']].corr(method = 'pearson')

          SibSp     Parch
SibSp  1.000000  0.414838
Parch  0.414838  1.000000

In [44]:
answer4 = str(0.41)

In [45]:
with open('answer5.txt', 'w') as fout:
    fout.write(answer4)

In [56]:
df[df.Sex=='female'].Name.apply(lambda x: x.split(' ')[2]).value_counts()

William      13
Anna          9
Mary          9
Margaret      6
Elizabeth     6
John          6
Thomas        6
Frederick     5
Alice         5
Helen         4
Ellen         4
James         4
Bertha        4
Edward        4
Mrs.          3
Samuel        3
Hanora        3
Joseph        3
Charles       3
Kate          3
Annie         3
Katherine     3
Henry         3
Marion        2
Marjorie      2
Mabel         2
George        2
Emily         2
Alexander     2
Marija        2
             ..
Katie         1
Amy           1
Dorothy       1
Hjalmar       1
Dickinson     1
Laura         1
Hilda         1
Norman        1
Countess.     1
Laina         1
(Marion       1
Kristina      1
Adele         1
(Lutie        1
Helmina       1
Ann           1
Ethel         1
Gerda         1
Kornelia      1
Harriet       1
Carl          1
Stella        1
Jamila        1
Nourelain     1
Karl          1
Eva           1
Henriette     1
Robina        1
Jeannie       1
Richard       1
Name: Name, Length: 202, dtype: int64

In [58]:
with open('answer5.txt', 'w') as fout:
    fout.write('Anna')