In [101]:
import pandas as pd
from sklearn import tree

In [102]:
df = pd.read_csv('titanic.csv')

In [103]:
df = df[['Pclass','Fare','Age','Sex','Survived']]
df = df.dropna(axis = 0)

In [104]:
Y = df['Survived']
X = df[['Pclass','Fare','Age','Sex']]

In [105]:
X.Sex = X['Sex'].apply(lambda x: 0 if x == 'male' else 1)

In [106]:
clf = tree.DecisionTreeClassifier(random_state = 241)

In [107]:
clf.fit(X,Y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=241,
            splitter='best')

In [108]:
X.head()

   Pclass     Fare   Age  Sex
0       3   7.2500  22.0    0
1       1  71.2833  38.0    1
2       3   7.9250  26.0    1
3       1  53.1000  35.0    1
4       3   8.0500  35.0    0

In [109]:
importance = clf.feature_importances_

In [110]:
importance

array([0.14751816, 0.29538468, 0.25658495, 0.30051221])

In [111]:
answer = 'Fare' + ' ' + 'Sex'

In [112]:
answer

'Fare Sex'

In [113]:
with open('answer2_1.txt', 'w') as fout:
    fout.write(answer)